// This file is globally imported in App.vue and
// affects every score rendered by Verovio

@import "./variables.scss";

.revision.trans svg {
   .add g:not([class*="bounding-box"]) {
      stroke: green;
      fill: green;
   }

   .del g:not([class*="bounding-box"]) {
      stroke: red;
      fill: red;
   }
}

.trans svg {
   .sic g:not([class*="bounding-box"]) {
      stroke: #d825da;
      fill: #d825da;
   }
}

svg {

   text {
      cursor: default;
   }

  .measure.invis {
    .staff > path {
      stroke: transparent;
    }

    .dir.metaMark.rightmar + .barLineAttr > path {
      stroke: transparent;
      fill: transparent;
    }
  }

  .grpSym > path {
    stroke: $verovio-supplied-color;
    fill: $verovio-supplied-color;
  }

  .grpSym + .label {
    stroke: $verovio-supplied-color;
    fill: $verovio-supplied-color;
  }

  g[data-unused] path {
    fill: green;
    opacity:0%;
  }

  g rect.bg {
    fill: rgba(0,0,255,.2);
  }

  g.activeComplaint path {
    fill: blue;
  }
}
